<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Agenda de tarefas</title>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="alert-warning" style="margin: 0 auto !important; width: 60%; height: 200px; font-size: 2em; padding: 2%;">
                Você foi desconectado pois alterou dados do seu cadastro. Clique <a href="/">aqui</a> para fazer login novamente.
            </div>
        </div>
         
    </div>
      <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
  



